---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Experience from "../components/Experience.astro";
import Studies from "../components/Studies.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import Book from "../components/icons/Book.astro";
---

<Layout
  title="AlbertDev - Desarrollador Web FullStack"
  description="Contrata a Albert para crear tu aplicación web o móvil. Desarrollador Web."
  keywords="astro, astro dev portfolio, albert alarcón, portfolio, albert portfolio, desarrollador, programador, web, front-end, back-end, full-stack, react, freelance, autónomo, angular, nextjs, laravel, csharp, .net, api rest, sql, nosql, javascript, typescript, html, css, tailwind, git, github, gitlab, bitbucket, scrum, agile, metodologías ágiles, tdd, bdd, jest, cypress, testing, testing end-to-end, testing unitario, testing integración, testing funcional, testing aceptación, testing regresión, testing carga, testing estrés, testing seguridad, testing rendimiento, testing usabilidad, testing exploratorio, testing caja negra, testing caja blanca, testing caja gris, testing manual, testing automático, testing continuo, testing estático, testing dinámico, testing de caja negra, testing de caja blanca, testing de caja gris, testing de caja transparente, testing de caja opaca, testing de caja de cristal, testing de caja de arena, testing de caja de pruebas, testing de caja de herramientas, testing de caja de juguetes, testing de caja de herramientas de pruebas, testing de caja de herramientas de pruebas de software, testing de caja de herramientas de pruebas de software de calidad, testing de caja de herramientas de pruebas de software de calidad de software, testing de caja de herramientas de pruebas de software de calidad de software de calidad, testing de caja de herramientas de pruebas de software de calidad de software de calidad de software, testing de caja de herramientas de pruebas de software de calidad de software de calidad de software de calidad de software, testing de caja de herramientas de pruebas de software de calidad de software de calidad de software de calidad de software de calidad de software, testing de caja de herramientas de pruebas, microservicios, docker, kubernettes, kafka, jira, azure, aws, google cloud, firebase, netlify, vercel, heroku, digital ocean, gitpod, codepen, codesandbox, stackblitz, repl.it, glitch, jsfiddle, jsbin, git, github"
  author="Albert Alarcón Martínez"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="inicio">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="estudios">
      <TitleSection>
        <Book class="size-8" />
        Estudios
      </TitleSection>
      <Studies />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
