---
const personalImageAlt = "Albert";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy <strong>Albert</strong>, estudiante de segundo año del Ciclo
      Formativo de Grado Superior en Desarrollo de Aplicaciones Web. Tengo
      experiencia en lenguajes y tecnologías como <strong
        >HTML, CSS (Bootstrap, Tailwind CSS), JavaScript y Typescript (React, NextJS, Angular), PHP con algo de Laravel, y bases de
        datos SQL y NoSQL. También tengo conocimientos de C# y de .NET con el desarrollo de
        API Rest</strong
      >.
    </p>

    <p>
      Soy apasionado de la tecnología, con interés en el <strong>
      desarrollo web Full-Stack</strong
      >. Me motiva el aprendizaje continuo y valoro el <strong
        >trabajo y la comunicación en equipo</strong ya que para mí es fundamental
      >. Estoy deseando comenzar mis prácticas para aplicar mis conocimientos y
      seguir creciendo profesionalmente.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/IMG_6490.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
