---
const personalImageAlt = "Albert";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy <strong>Albert</strong>, un apasionado de la tecnología y el
      desarrollo de software. Aunque mi camino en la programación comenzó más
      tarde de lo habitual, este desafío me ha motivado aún más para <strong
        >superar obstáculos y destacar en un campo que me fascina</strong
      >. Actualmente, estoy cursando el segundo año del Ciclo Formativo de Grado
      Superior en Desarrollo de Aplicaciones Web, donde estoy adquiriendo
      sólidas bases en tecnologías como <strong
        >HTML, CSS, JavaScript con React y Angular, PHP con Laravel y bases de
        datos tanto SQL como NoSQL</strong
      >, entre otras.
    </p>

    <p>
      Mi enfoque se centra en <strong
        >crear soluciones prácticas y creativas</strong
      >, con un especial interés en el desarrollo web <strong>responsivo</strong
      > y el diseño centrado en el <strong>usuario</strong>. Valoro mucho el <strong
        >trabajo en equipo y la oportunidad de aprender de personas con
        experiencia</strong
      >, lo que me hace estar siempre dispuesto a
      <strong>recibir feedback y a mejorar</strong>.
    </p>

    <p>
      Aunque todavía no he tenido la oportunidad de trabajar como desarrollador,
      estoy deseando comenzar mis prácticas para <strong>aplicar mis conocimientos en un
      entorno profesional y seguir creciendo tanto técnica como personalmente</strong>.
      Si buscas a alguien con entusiasmo, curiosidad y compromiso, que esté
      dispuesto a dar el 200%, <strong>¡me encantaría ser parte de tu equipo!</strong>
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/IMG_6490.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
