---
import ExperienceItem from "./ExperienceItem.astro"
import AnimatedSection from "./AnimatedSection.astro"

const EXPERIENCE = [
{
    date: "Actualmente y desde Marzo de 2025...",
    title: "Desarrollador Full Stack",
    company: "IDENTIVAL S.L.",
    description:
      "Desarrollo de Aplicaci贸n Web con Angular 19 y .NET 9 para Sociedades de Tasaci贸n Inmobiliaria para la gesti贸n de las tasaciones.",
    link: "",
  },
  {
    date: "2015 - Febrero de 2025",
    title: "Mensajero Hospitalario",
    company: "KHAVAEVA REYES S.L.U.",
    description:
      "Transporte de muestras biol贸gicas y medicamentos entre hospitales y centros de salud.",
    link: "",
  },

]
---

<AnimatedSection>
  <ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</AnimatedSection>
