---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Actualmente y desde 2015...",
    title: "Mensajero Hospitalario",
    company: "KHAVAEVA REYES S.L.U.",
    description:
      "Transporte de muestras biológicas y medicamentos entre hospitales y centros de salud.",
    link: "",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
