---
import ExperienceItem from "./ExperienceItem.astro"
import AnimatedSection from "./AnimatedSection.astro"

const EXPERIENCE = [
{
    date: "Marzo 2025 - Junio 2025",
    title: "Desarrollador Full Stack",
    company: "IDENTIVAL S.L.",
    description:
      "Desarrollo de Aplicación Web con Angular 19 y .NET 9 para Sociedades de Tasación Inmobiliaria para la gestión de las tasaciones.",
    link: "",
  },
  

]
---

<AnimatedSection>
  <ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</AnimatedSection>
